snippet cp "Comment Section"
" ==============================================================================
" = ${1:New section}
" ==============================================================================
${0}
endsnippet
